{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-react",
    ["react-app", { "absoluteRuntime": false }]
	],
  "plugins": [
    "react-hot-loader/babel",
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
