{
  "presets": [[
		"@babel/preset-env",
		{
			"useBuiltIns": "entry"
		}
	], "@babel/react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
  ]
}
